.products {
  background: white;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 40px;

  h3 {
    color: $primary-colour;
    font-family: $font;
  }

  h1 {
    color: $primary-colour;
    margin-left: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: $font;
  }

  .row {
    .product {
      margin-bottom: 20px;
    }
    .product:hover {
      opacity: 0.6;
      cursor: pointer;
      cursor: hand;
    }
  }
}

.product-image-container {
  width:265px;
  height:225px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;

  > .image-one {
    position: absolute;
    top: -35px;
    left: -34px;
  }
  > .image-two {
    position: absolute;
    top: -3px;
    left: -5px;
  }
  > .image-three {
    position: absolute;
    top: -20px;
    left: -1px;
  }
  > .image-four {
    position: absolute;
    top: -30px;
    left: -10px;
  }
}

.hide {
  display: none;
  opacity: 0;
}

.product-info-one {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}

.product-info-two {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}

.product-info-three {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}

.product-info-four {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}
