.title {
  background-image: url("../images/background.png");
  width: 100%;

  .row {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    align-items: center;
  }

  .btn {
    width: 82%;
    height: 50px;
    background-color: $btn-colour;
    border-radius: 10px;
    font-size: 17px;
  }

  img {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  h1 {
    color: white;
    margin-bottom: 35px;
    font-family: $font;
  }

  p {
    color: white;
    font-size: 17px;
    padding-right: 70px;
    margin-bottom: 40px;
    font-family: $font;
  }

}

@media only screen and (max-width: 995px) {
    .title {
      .row {
        display: block;
        margin-left: 3%;
        margin-right: 3%;
      }
      img {
        display: none;
      }

      .btn {
        margin-bottom: 40px;
      }
  }
}
